<h2><% t(:Flash_cards_manager) %></h2>

<div class="container">
  <h4><%= t(:Pack) %>:<%= @pack.title %></h4>
  <p>
    <%= link_to t(:New_card), new_pack_card_path(@pack), class: "btn btn-primary" %>
    <%= link_to t(:Back), packs_path, class: "btn btn-primary" %> 
  </p>            
  <table class="table">
    <thead>
      <tr>
        <th><%= t(:Original_text) %></th>
        <th><%= t(:Translated_text) %></th>
        <th><%= t(:Date_of_review) %></th>
        <th><%= t(:Checks) %></th>          
        <th><%= t(:Actions) %></th>             
      </tr>
    </thead>
    <tbody>
    <% @card.each do |card| %>
      <tr>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date.to_time.strftime('%F %H:%M') %></td>
        <th><%= card.checks %></th>              
        <td>
          <%= link_to t(:Show) , pack_card_path(@pack, card)%>      
          <%= link_to t(:Edit), edit_pack_card_path(@pack, card)%>  
          <%= link_to t(:Delete), pack_card_path(@pack, card), method: :delete, data: {confirm: 'Are you sure?'}%>
        </th>         
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
