<section>
      <p style="font-size: 22px;">
      <% t(:Flash_cards_manager) %>
      </p>
</section>

<h2><% t(:All_cards) %></h2>
<table>
    <th><%= t(:Original_text) %></th>
    <th><%= t(:Translated_text) %></th>
    <th><%= t(:Date_of_review) %></th>
<% @card.each do |card| %>
<tr>
<td><%= card.original_text %></td>
<td><%= card.translated_text %></td>
<td><%= card.review_date %></td>
<td><%= link_to t(:Show) , card_path(card)%></td>
</tr>
<% end %>
</table>