<h4><%= t(:New) %></h4>
<%= form_for ([@pack, @pack.cards.build]) do |card|%>
<%= card.file_field :image %>
<%= card.label :original_text %><br>
<%= card.text_field :original_text , size: '100', class: "form-control" %><br>
<%= card.label :translated_text  %><br>
<%= card.text_field :translated_text, size: '100', class: "form-control" %><br>
<%= card.label :review_date  %><br>
<%= card.text_field :review_date, size: '100', class: "form-control", placeholder: Time.now %><br>
<%= card.submit class: "btn btn-primary" %>
<%= link_to t(:All_cards), pack_cards_path(@pack), class: "btn btn-primary"   %>
<% end %>