<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Флэшкарточкер</title>
  <link rel="stylesheet" href="application.css">
  <%= stylesheet_link_tag    'bootstrap.min'%>  
  <%= javascript_include_tag 'bootstrap.min'%>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section id="container">
    <header class="clearfix">  	
      <ul class="nav nav-tabs">    	
      <h1>Флэшкарточкер</h1>
        <%= link_to 'Все карточки', cards_path, class: "navbar-brand" %>
        <%= link_to 'Новая карточка', new_card_path, class: "navbar-brand" %>
      </ul>
    </header>

  
  <%= yield %>
  </section>
</body>
</html>
