<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Flashcards</title>
  <link rel="stylроesheet" href="application.css">
  <%= stylesheet_link_tag    'bootstrap.min'%>  
  <%= javascript_include_tag 'bootstrap.min'%>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <header class="clearfix"> 
      <% if current_user %>
        <%= current_user.email %>
        <%= link_to t(:Edit_profile), edit_user_path(current_user.id) %>
        <%= link_to t(:Logout), logout_path, method: :post %>
      <% else %>
        <%= link_to t(:Registration), new_user_path %> |
        <%= link_to t(:Login), login_path %>
        <% if Rails.application.config.sorcery.external_providers.include?(:twitter) %>
        | <%= link_to t(:Login_from_twitter), auth_at_provider_path(provider: :twitter) %>  
        <% end %>
      <% end %> 	

      <ul class="nav nav-tabs">  
        <h1> <%= t(:Flashcards) %></h1>  	
        <%= link_to t(:Training), showcard_path(current_user.review_pack.id), class: "navbar-brand" if current_user && current_user.review_pack %>          
        <%= link_to t(:All_packs), packs_path, class: "navbar-brand" %>   
        <%= link_to t(:New_pack), new_pack_path, class: "navbar-brand" %>               
        <%= link_to t(:Base_pack), pack_cards_path(current_user.review_pack.id), class: "navbar-brand" if current_user && current_user.review_pack %> 
      </ul>
    </header>
    <h3><%= t(:Flash_cards_manager) %></h3>

   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
         
  <%= yield %>
  </div>
</body>
</html>
